In [1]:
# Sample Question print - sachin t - shirt number is 10
name = "sachin"
t_shirt = 10
# Your Answer

print(name,"t-shirt number is",t_shirt)

sachin t-shirt number is 10

In [3]:
# 1 . Question | print - India is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kholi
team = "india"
worldcup = 2012
captain = "kohli"
rank = 1

print(team, "is number 1 team and has won",worldcup, "worldcup and it rank",rank, "and the captain name is",captain)

india is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kohli

In [4]:
# 2 . Question |print the datatype of the x,y,z

x = 56
y = 56.78
z = "python"

# your Answer
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
# 3 . Question | write a program to print 10.0 using typecasting

a = 10

# Your Answer
#method1
b=float(a)
print(b)

#method2
print(float(a))

10.0
10.0

In [10]:
# 4 . Question | write a program to print 12 using typecasting

a = 12.56

# Your Answer
#method1
b=int(a)
print(b)

#method2
print(int(a))

12
12

In [13]:
# 5 . write a program print 30 by using typecasting conncept

a = "10"
b = "20"

# Your Answer
#method1
c=int(a)
d=int(b)
e=c+d
print(e)

#method2
c=int(a)+int(b)
print(c)

#method3
print(int(a)+int(b))

30
30
30